body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .search-bar--container {
    /* background-color: red; */
    margin-right: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }