body {
  background-image: url("https://wallpaperaccess.com/full/1916264.jpg");
  background-repeat: no-repeat;
  /* background-position-y:50px; */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-size: 100vw 100vh;
}

.search-bar--container {
  /* background-color: red; */
  margin-right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.list-container {
  background-color: rgba(248, 244, 244, 0.7);
  /* background-color: transparent; */
  border-radius: 10px;
  margin-left: 34%;
  font-size: 20px;
  max-height: 50vh;
  max-width: 33%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.product-names {
  cursor: pointer;
  display: flex;
  margin-block: 5px;
  border-bottom: 2px solid black;
}
.navbar,
.product-chart,
.my-profile {
  background-color: rgba(248, 244, 244, 0.7);
  border-radius: 0 0 14px 14px;
  display: flex;
}

.my-profile {
  margin-block: 10%;
  padding-block: 7%;
  display: block;
  text-align: center;
}

.my-profile-modal {
  padding: 3%;
  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  margin-block: 2%;
}

.my-profile-popup-content {
  width: 35% !important;
  background-color: rgba(248, 244, 244, 0.9) !important;
  border-radius: 10px;
}

#gender {
  width: 15%;
  margin-block: 3%;
  margin-bottom: 5%;
}

.product-table > ul {
  list-style-image: url("./images/ezgif-2-c21fccb99b.png");
}
.product-table,
.product-table-values {
  -webkit-text-stroke: 0.3px rgb(94, 87, 81);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-table-values > ul {
  list-style-type: none;
  margin: 10;
  padding: 40px;
}
.name-chart {
  max-width: 50%;
  margin-left: 10%;
  margin-right: auto;
}
.product-table-container {
  display: flex;
  margin-right: 15%;
}

.dropdown-menu.show {
  background-color: rgba(0, 0, 0, 0);
}

.username {
  margin-left: 368px;
}

.test {
  display: flex;
  position: absolute;
  right: 27%;
}

.add-button {
  position: absolute;
  bottom: 35%;
  right: 7%;
}

.grams-input {
  margin-block: 10%;
  width: 50%;
}

#age,
#weight,
#height {
  margin-block: 2%;
  width: 50%;
}

#activity-level {
  width: 30%;
}

.my-profile-modal-close {
  width: 20%;
  position: absolute;
  bottom: 5%;
  left: 40%;
}

#activityLevel {
  width: 30%;
}

.diary-container {
  margin-top: 30px;
  display: flex;
  gap: 200px;
}

progress {
  width: 100%;
}

.progress-list--container {
  width: 45%;
  font-size: 25px;
}
.consumed-container {
  padding-left: 2%;
  width: 39%;
}

.nav-link {
  color: black !important;
  border: 1px solid black;
  border-radius: 5px;
}

.prod-container {
  max-height: 90%;
}
.prod-list {
  max-height: 60vh;
  overflow-y: scroll;
}
.welcome {
  width: 60% !important;
  height: 570px !important;
  margin-left: 20%;
  margin-top: 1%;
  font-size: 21px;
}
